* {
    background-color: aliceblue;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

#tictactoe {
    display: flex;
    justify-content: center;
    align-items: center;
    color:blueviolet;
    font-weight: bold;
    
}

button {
    height: 200px;
    width: 200px;
    margin: 4px;
    padding: 4px;
}

.fa {
    font-size: 48px;
    color: black;
}

.reset {
    padding: 8px;
}

.reset:hover {
    opacity: 0.8;
}
